---
layout: layouts/base.njk
permalink: "/illustration.html"
---
<article>

  <header class="pb--4">

    <div class="grid grid--intro">

      <div class="grid__item--span-4 mw--readable markdown mb--2">{{ settings.metadata.site_description | renderUsingMarkdown | safe }}</div>
      <div class="grid__item--span-4 mw--readable markdown">
        <a href="/comics" class="grid__item">Comics</a> • <a href="/illustration" class="grid__item">Illustration</a>
      </div>

    </div>

  </header>

  {% set projectList = collections.illustration %}
  {% include "components/projectList.njk" %}

</article>

{# Appended to <head> during build #}
{% include "components/opengraph.njk" %}