---
layout: layouts/page.njk
section: blog
---
<article>
  <div class="grid grid--description pb--6">
    <div class="grid__item--span-4">
      <p>{{ date.toUTCString() | blogDate }}</p>
      {{ content | safe }}
    </div>
  </div>
</article>