---
layout: layouts/page.njk
section: blog
---
<article>
  <section>
    <div class="grid grid--description pb--6">
      <div class="grid__item--span-4">
        

       {{ content | safe }}


      </div>
    </div>
  </section>
  
</article>