---
layout: layouts/base.njk
section: page
---

  <header>

    <div class="grid grid--intro">

      <h1 class="grid__item--span-4 mw--readable">{{ title }}</h1>

    </div>

  </header>


  {{ content | safe }}


{# Gets appended to <head> during build #}
{# {% include "components/opengraph.njk" %} #}
